///////////////////////////////////////////////////
/// Meeting_style.scss							///
/// Version 1.0.0								///
/// Copyright (c) 2014							///
/// Authur by Index Corp Thailand				///
/// Project Meeting Board 						///
///////////////////////////////////////////////////




$bg__default: url("../image/bg-default.png") no-repeat top;
$bg__inuse: url("../image/bg-inuse.png") no-repeat top;
$bg__sidebar: #ffffff;
$bg__footer: #ffffff;
$bg__status--inuse: #d8163b;
$font__color--default: #0065b9;
$font__color--sub-default: #d8163b;
$font__size: 1em;
$font__family--light: "Lato-Light";
$font__family--bold: "Lato-Bold";


@mixin font__size--timedate($font__size, $timedate) {
	font: {
		size: $font__size * $timedate;
		family: "Lato-Light";
	}
	color: $font__color--default;	
}

@mixin eff__box--radius($bd__size) {
  	border-radius: $bd__size;
  	-o-border-radius: $bd__size;
  	-ms-border-radius: $bd__size;
  	-moz-border-radius: $bd__size;
  	-webkit-border-radius: $bd__size;
}
@mixin eff__box--shadow($x__color, $y__color, $shadow__blur, $shadow__color) {
	box-shadow: $x__color $y__color $shadow__blur $shadow__color;
	-o-box-shadow: $x__color $y__color $shadow__blur $shadow__color;
	-ms-box-shadow: $x__color $y__color $shadow__blur $shadow__color;
	-moz-box-shadow: $x__color $y__color $shadow__blur $shadow__color;
	-webkit-box-shadow: $x__color $y__color $shadow__blur $shadow__color;
}
@font-face {
	font-family: "Lato-Light";
  	src: url('../fonts/Lato-Light.ttf') format('truetype');
  	font-weight: normal;
  	font-style: normal;	
}
@font-face {
	font-family: "Lato-LightItalic";
  	src: url('../fonts/Lato-LightItalic.ttf') format('truetype');
  	font-weight: normal;
  	font-style: normal;	
}
@font-face {
	font-family: "Lato-Bold";
  	src: url('../fonts/Lato-Bold.ttf') format('truetype');
  	font-weight: normal;
  	font-style: normal;	
}

/* ==================== */
/* Content Room Status	*/
/* ==================== */
body.body__avalible {
	background: $bg__default;
	background-size: cover;
	position: relative;
	overflow: hidden;
}
body.body__inuse {
	background: $bg__inuse;
	background-size: cover;
	position: relative;
	overflow: hidden;
}
ul, ol,  ul > li,
ol > li {
	list-style: none;
	margin: 0;
	padding: 0;
} 
.content__room {
	position: relative;
	overflow: hidden;
}
.content__room--status,
.content__room--detail {
	position: relative;
	min-height: 700px;	
}
.topic__room--header {
	float: left;
	width: 100%;
	padding: 20px 40px;
	border-bottom: 1px solid #90e1ff;
	background: rgba(31, 155, 243, 0.7);
}
.topic__room--reserve {
	float: left;
	width: 100%;
	padding: 20px 40px;
	border-bottom: 1px solid #90e1ff;
}

.custom__text {
	width: 100%;
	position: relative;
	text-align: center;
	color: #ffffff;
	&.room__number {
		font-size: 4em;
		font-family: $font__family--light;
		line-height: 1em;	
		position: absolute;
		top: 33%;
	}
	&.room__status {
		font-size: 12em;
		line-height: 1.1em;
		position: absolute;
		top: 42%;
	}
	&.room__upcoming {
		font-size: 3em;
		line-height: 1.1em;
		text-align: left;
		padding: 20px 0 15px;
		border-bottom: 1px solid #cecece;
		color: $font__color--default;
	}
	&.room__upcoming--title {
		font-size: 2.2em;
		text-align: left;
		font-weight: bold;
		color: $font__color--sub-default;
	}
	&.room__inuse {
		font-size: 10em;
		font-family: $font__family--bold;
		line-height: 1em;
		text-align: left;
		padding-left: 16%;	
	}
	&.inuse__header--title {
		font-size: 3.5em;
		font-family: $font__family--light;
		line-height: 1em;
		text-align: left;
	}
	&.inuse__header--time {
		font-size: 2.8em;
		font-family: $font__family--light;
		line-height: 1em;
		text-align: left;
		padding-left: 35%;	
	}
}


/* ==================== */
/* Side Bar 			*/
/* ==================== */
.sidebar__upcoming {
	background: $bg__sidebar;
	position: relative;
	height: 900px;
}
.sidebar__upcoming--list {
	ul li {
		float: left;
		width: 100%;
		padding: 10px 0;
		font-family: $font__family--light;
		border-bottom: 1px solid #cecece;
	}
}
.time__reserve {
	font-size: $font__size * 1.7;
	color: #989898
}
.group__inuse {
	padding-top: 25px;
}
.group__inuse--host {
	.h6 {
		color: #ffffff;
		font-size: $font__size * 1.8;
	}
	& > p {
		margin: 0;
		padding: 0;
		&.hostname__eng {
			color: #ffffff;
			font-size: $font__size * 2.9;
			font-family: $font__family--bold;
		}
		&.hostname__thai {
			color: #ffffff;
			font-size: $font__size * 2.4;
			font-family: $font__family--light;
		}
	}
}

.group__inuse--contact {
	.h6 {
		color: #ffffff;
		font-size: $font__size * 1.8;
	}
	& > p {
		margin: 0;
		padding: 0;
		&.contact__phone {
			color: #ffffff;
			font-size: $font__size * 2.2;
			font-family: $font__family--light;
		}
	}
}
.room__label,
.room__number--inuse {
	float: left;
	width: 100%;
	color: #ffffff;
}
.room__label {
	color: #ffffff;
	padding: 20px 0 0 70px;
	font-size: 2em;
	line-height: 1em;
}
.room__number--inuse {
	padding-left: 160px;
	font-size: 7em;
	line-height: 1em;
}


/* ==================== */
/* Footer Bar 			*/
/* ==================== */
.footer__bar {
	position: fixed;
	z-index: 1;
	bottom: 0;
	width: 100%;
	height: 90px;
	padding: 10px 30px;
	background: $bg__footer;
	ul {
		li {
			float: left;
			&.scg__logo {
				width: 14.5%;
				padding-right: 7%;
			}
			&.server__time {
				width: 25%;
				padding-top: 5px;
				color: $font__color--sub-default;
				.time {
					@include font__size--timedate($font__size, 3.3);					
				}
			}
			&.server__date {
				width: 27%;
				padding-top: 5px;
				color: $font__color--sub-default;
				.date {
					@include font__size--timedate($font__size, 3.3);					
				}
			}
		}
	}
}
.room__status--inuse {
	position: absolute;
	bottom: 90px;
	margin-left: -15px;
	height: 150px;
	background: $bg__status--inuse;
}	
.room__status--room {
	background: url("../image/bg-room.png");
	width: 400px;
	height: 150px;	
	position: absolute;
	right: 0;
	bottom: 0px;
}
.room__status--onoff {
	width: 25%;
	right: 0;
	bottom: 0px;
	height: 90px;
	position: absolute;
	background: #0065b9;	
}


/* ==================== */
/* Upcoming Popup		*/
/* ==================== */

.overlay__bg {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 2;
	background: rgba(0, 51, 113, 0.85);
	&.overlay__bg--none {
		display: none;
	}	
	&.overlay__bg--upcoming {
		display: block;
	}
}
.upcome__box {
	padding: 30px;
	height: 658px;
	margin-top: 95px;
	border: 1px solid #29a0ec;
	background: #ffffff;
	background: url("../image/bg-inuse.png");
	background-size: cover;
	@include eff__box--radius(15px);
	@include eff__box--shadow(0, 0, 15px,#002c69);	
}
.upcome__meeting {
	padding: 60px 0 40px 0;
	.upcome__meeting--header {
		width: 100%;
		text-align: center;
	}
}
.upcome__meeting--title {
	padding: 40px 30px;
	margin: 0 -31px;
	text-align: center;
	background-color: #d8163b;
}
.upcome__meeting--time {
	text-align: center;	
	padding: 40px 30px;	
}