* {
	margin:0;
	padding:0;
}
h2 {
	/*padding:1em 0 0 0;*/
}
p {
	line-height:1.4em;
}
p + p {
	text-indent:2em;
}
body {
	font-size:100%;
	text-align:center;
	background:#000;
}
pre {
	display:block;
	/*margin:1em 0 0 0;*/
	width:488px;
}
pre code {
	background:#eee;
	display:block;
	padding:0px;
}
.r {
	float:right;
	/*padding:0 0 10px 20px;*/
}

/* Landscape mode (default) */
#wrap {
	margin:0 auto;
	width:1024px;
	position:relative;
	overflow:hidden;
	text-align:left;
	background:#fff;
}
#header {
	float:left;
	width:1024px;
	/*padding:10px 0 20px 0;*/
	background:#fff;
	/*border-bottom:1px solid #000;*/
}
#header h1 {
	/*padding:10px 30px 0 30px;*/
}
#header p {
	/*padding:0 30px;
	line-height:1.4em;*/
}
#content {
	float:left;
	width:1024px;
	
	position:relative;
	left:708px;
}

#main {
	float:left;
	width:708px;
	position:relative;
	right:708px;
	/*padding:20px 0;*/
	color: #f00;
	opacity: 0.9;
}
#main img{
	width:708px;
	padding: 0px;
	height: 680px;

}

#side {
	float:right;
	width:216px;
	position:relative;
	right:798px;
	/*padding-bottom:20px;*/
}

.side {
	clear:left;
	float:left;
	width:216px;
}
#footer {
	clear:both;
	width:1024px;
	/*border-top:1px solid #00f;*/
	/**/
	background:#fff;
	height: 80px;
	margin-top:10px;
}

.footer_left {
	float:left;
	width:708px;
	height: 80px;
}

.footer_left p {
	padding:15px 15px;
	float: left;
}

.footer_left img {
	width:80px;
}


.footer_right {
	float:right;
	width:316px;
	position:relative;
	right:0px;
	background-color: #f00;
	height: 80px;
}

@media only screen and (orientation:portrait){
	/* portrait mode */
	#header,
	#wrap,
	#footer {
		width:768px;
	}
	#content {
		left:0;
		background:#fff;
	}
	#main {
		float:left;
		width:708px;
		position:relative;
		right:768px;
		/*left:30px;
		padding:20px 0;*/
	}
	#side {
		clear:left;
		float:left;
		width:768px;
		right:0;
		/*padding-bottom:20px;*/
		background:#eee;
	}
	#sidea {
		clear:none;
		width:216px;
		float:left;
		position:relative;
		left:30px;
		/*padding-top:20px;*/
	}
	#sideb {
		clear:none;
		width:216px;
		float:left;
		position:relative;
		left:60px;
		/*padding-top:20px;*/
	}
	#sidec {
		clear:none;
		width:216px;
		float:right;
		position:relative;
		right:30px;
		/*padding-top:20px;*/
	}
}
