/*------------ h1, h2, h3, h4, h5, h6 ---------------*/
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    color: #515151;
    text-rendering: optimizelegibility;
}

/*------------ h1, h2, h3, h4, h5, h6 ---------------*/




/*------------ login ---------------*/
.mi-login{
    min-height: 20px;
    padding: 19px;
    /*margin-bottom: 20px;*/
    /* background-color: #f5f5f5; */
    border: 1.5px solid #CECECE;    
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.mi-btn-logout{
    min-height: 54px;
    padding: 19px;
    /*margin-bottom: 20px;*/
    /* background-color: #f5f5f5; */
    border: 1.5px solid #CECECE;    
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.mi-wrap-btn-logout a:hover {
    color: #ffffff;
    background: #EEEEEE; 
    text-decoration: underline;
}



.mi-login-space-top{
    margin-bottom: 150px;
}

.mi-btn-login{
    margin-top: 15px;
    width: 100%;
    height: 65px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    font-size: 28px;
    font-family: 'Arial';
}

.mi-logo-img{
    width: 140px;
}

.mi-login-header{
    padding-top: 15px;
    padding-bottom: 15px;
}
.mi-login-header h2{
    color: black;
    font-family: 'Arial';
}

.mi-loing-logo-desc{
    font-size: 5px;
}


.mi-icon-user{
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    vertical-align: text-top;
    background-image: url("/public/img/icon/icon-user.png");    
    background-repeat: no-repeat;
}
.mi-icon-password{
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    vertical-align: text-top;
    background-image: url("/public/img/icon/icon-password.png");    
    background-repeat: no-repeat;
}

.mi-text-field{
    border-radius: 3px; 
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px;    

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); 
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); 

    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s; 
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s; 

    border-bottom: 1px solid;
    border: none;

}
/*------------ login ---------------*/

/*------------ navbar ---------------*/
.navbar .navbar-inner {
    background-color: #EEEEEE;
    color: black;
}

.navbar-inner {
    border-radius: 0px; 
    -webkit-border-radius: 0px; 
    -moz-border-radius: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #EEEEEE;



    min-height: 40px;
    padding-left: 24px;
    padding-right: 8px;
    background-color: #EEEEEE;
    background-image: -moz-linear-gradient(top, #EEEEEE, #EEEEEE);
    background-image: -ms-linear-gradient(top, #EEEEEE, #EEEEEE);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#EEEEEE), to(#EEEEEE));
    background-image: -webkit-linear-gradient(top, #EEEEEE, #EEEEEE);
    background-image: -o-linear-gradient(top, #EEEEEE, #EEEEEE);
    background-image: linear-gradient(top, #EEEEEE, #EEEEEE);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorstr='#EEEEEE', GradientType=0);
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
    box-shadow: 0 0px 0px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
}

.navbar .brand{
    color: black;
    font-family: 'Arial';
}

.brand{
    text-shadow: 0px 0px 0px rgb(0, 0, 0);;
}

.brand img {
    float: left;
    height: 37px;
    width: 51px;
    margin-right: 5px;
}

.navbar .brand {
    float: left;
    display: block;
    padding: 12px 0px 15px;
    margin-left: 0px;
    font-size: 11px;
    font-weight: bold;
    line-height: 1;
    color: #f5f5f5;
}

.navbar-logo{
    padding-right: 0px;
    padding-left: 0px;
    margin-left: -7px;
}

.navbar-logo-border{
    border-right: 1px solid #D9D9D9;
    min-height: 90px;
    max-height: 90px;
}

.navbar {
    overflow: visible;
    margin-bottom: 0px;
}

.mi-title-brand{
    color: black;
    letter-spacing: -1px;
    font-size: 14px;
}

.mi-wrap-brand{
    width: 235px;
    border-right: 1px solid #D9D9D9;
}
.mi-wrap-btn-logout{
    border-left: solid 1px #D9D9D9;
    padding-left: 8px;
}

.mi-title-user{
    color: #5C5C5C;
    margin-top: 11px;
}

.mi-username{

}

.brand span {
    float: none; 
}

.nav .nav-header {
    display: block;
    padding: 9px 15px;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    color: #2A2A2A;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: none;
}

.mi-logout-li-show{
    display: none;
}
/*------------ navbar ---------------*/


/*------------ .container ---------------*/
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}
/*------------ .container ---------------*/



/*------------ .sidebar-nav ---------------*/
.sidebar-nav {
    min-height: 0;
    box-shadow: 0 0 10px #BDBDBD;
    -webkit-box-shadow: 0 0 0px #BDBDBD; 
    -moz-box-shadow: 0 0 0px #BDBDBD;
    border-radius: 0px; 
    -webkit-border-radius: 0px; 
    -moz-border-radius: 0px;
    margin-bottom: 0; 
    padding-bottom: 0;
}

.well {
    min-height: 0px;
    padding-bottom: 20px;
    margin-bottom: 0px;
    background-color: #F8F8F8;
    /* border: 1px solid #eee; */
    /* border: 1px solid rgba(0, 0, 0, 0.05); */
    -webkit-border-radius: 0px; 
    -moz-border-radius: 0px;
    border-radius: 0px; 
    /* -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); */
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    /* box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); */
    color: black;
}

.mi-nav-header{
    color: black;
    padding: 10px 13px 10px;
    /*    border: 1px solid #D9D9D9;*/
}

.mi-main-menu{
    border-right: 1px solid #D9D9D9;
}

.mi-hidden-tablet{

}

.nav-tabs.nav-stacked > li {
    border: 0px;
    border-bottom: 1px solid #5A5A5A;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.nav-tabs.nav-stacked > li:last-child > a {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.nav-tabs.nav-stacked > li > a {
    border: 0px;
    border-bottom: 1px solid #5A5A5A;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.nav-tabs > .active > a, 
.nav-tabs > .active > a:hover {
    color: #ffffff;
    background-color: #D7172F;
    border: 0px solid #5A5A5A;
    border-bottom: 1px solid #5A5A5A;
    border-color: transparent;
    cursor: default;
}

.nav-tabs > li > a{
    color: #ffffff;
    background-color: #373637;
    border: 0px solid #5A5A5A;
    border-bottom: 1px solid #5A5A5A;
    border-color: transparent;
    cursor: default;
}
.nav-tabs > li > a:hover {
    color: #ffffff;
    background-color: #D7172F;
    border: 0px solid #5A5A5A;
    border-bottom: 1px solid #5A5A5A;
    border-color: transparent;
    cursor: default;
}

.nav {
    margin-left: 0;
    margin-bottom: 0px; 
    list-style: none;
}

.sidebar-nav {
    padding: 0px 0px;
}

/*------------ .sidebar-nav ---------------*/



/*------------ content ---------------*/
#content{
    margin: 0px
}

.box {
    border: 0px; 

    border-radius: 0px; 
    -webkit-border-radius: 0px; 
    -moz-border-radius: 0px;

    margin-top: 0px; 
    margin-bottom: 0px; 

    box-shadow: 0 0 0px rgba(189, 189, 189, 0.4); 
    -webkit-box-shadow: 0 0 0px rgba(189, 189, 189, 0.4); 
    -moz-box-shadow: 0 0 0px rgba(189, 189, 189, 0.4);
}

.box-content {
    padding: 10px 20px;
}

.mi-box-header {
    border: none;
    padding-top: 2px;
    border-bottom: 1px solid #D9D9D9;
    border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    height: 12px;
    /*min-height: 12px;*/
    margin-bottom: 0;
    cursor: move;
    font-weight: bold;
    font-size: 16px;
    background-color: #FFFFFF;

    min-height: 0px;
    padding-bottom: 23px;
    padding-left: 20px;

}
.mi-box-header h2{
    color: #2A2A2A;
    font-family: 'Arial';
    font-size: 15px;
}
/*------------ content ---------------*/


/*------------ btn- ---------------*/

.btn-success-view, .btn-success-view:hover {
    background-color: #F14F00;
    background-image: -moz-linear-gradient(top, #F14F00, #F14F00);
    background-image: -ms-linear-gradient(top, #F14F00, #F14F00);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F14F00), to(#F14F00));
    background-image: -webkit-linear-gradient(top, #F14F00, #F14F00);
    background-image: -o-linear-gradient(top, #F14F00, #F14F00);
    background-image: linear-gradient(top, #F14F00, #F14F00);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F14F00', endColorstr='#F14F00', GradientType=0);
    border-color: #F14F00 #F14F00 #F14F00;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #F14F00;
    /* Darken IE7 buttons by default so they stand out more given they won't have borders */

    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.form-actions {
    padding: 10px 0px;
    margin-top: 18px;
    margin-bottom: 18px;
    background-color: #FFFFFF;
    border-top: 1px solid #D9D9D9;
}



/*------------ btn- ---------------*/

/*------------ mi-pagination ---------------*/
.mi-pagination{
    margin: 0px;
}

/*------------ mi-pagination ---------------*/








/*------------ .@media ---------------*/
@media (min-width: 1200px){
    .row-fluid .span2 {
        width: 246px;
    }

    .row-fluid .span9 {
        /*width: 84.358974%;*/
    }
}

.row-fluid .span2 {
    width: 246px;
}

@media (max-width: 1960px) {
    .max-width-cms{
        max-width: 1960px;
    }
}

@media (min-width: 300px) {
    .max-width-cms{
        min-width: 318px;
    }
}

@media (max-width: 979px) and (min-width: 768px){
    .main-menu-span {
        width: 6.2% !important;
        margin-right: 4%;
    }


    .mi-li-menu{
        display: none !important;
    }
}

@media (max-width: 767px){
    .nav-collapse .nav .nav-header {
        color: #999;
        text-shadow: none;
    }

    .mi-li-menu{
        display: none !important;
    }

    .row-fluid [class*="span"] {
        display: block;
        width: 100%;
        min-height: 0px; 
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        float: left;
        margin-left: 2.127659574%;
    }

    .nav-collapse .nav>li>a, .nav-collapse .dropdown-menu a {
        padding: 6px 15px;
        font-weight: bold;
        color: #ffffff; 
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        margin-bottom: 0px;
        border-top: 1px solid #D9D9D9;
    }


    .nav-collapse .nav>li>a:hover, .nav-collapse .dropdown-menu a:hover {
        background-color: #D7172F;
    }

    .mi-logout-btn-show{
        display: none;
    }

    .mi-logout-li-show{
        display: block;
    }

}
/*------------ .@media ---------------*/