@font-face {
  font-family: "Lato-Light";
  src: url("../fonts/Lato-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lato-LightItalic";
  src: url("../fonts/Lato-LightItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lato-Bold";
  src: url("../fonts/Lato-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* ==================== */
/* Content Room Status	*/
/* ==================== */
body.body__avalible {
  background: url("../image/bg-default.png") no-repeat top;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

body.body__inuse {
  background: url("../image/bg-inuse.png") no-repeat top;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

ul, ol, ul > li,
ol > li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.content__room {
  position: relative;
  overflow: hidden;
}

.content__room--status,
.content__room--detail {
  position: relative;
  min-height: 700px;
}

.topic__room--header {
  float: left;
  width: 100%;
  padding: 20px 40px;
  border-bottom: 1px solid #90e1ff;
  background: rgba(31, 155, 243, 0.7);
}

.topic__room--reserve {
  float: left;
  width: 100%;
  padding: 20px 40px;
  border-bottom: 1px solid #90e1ff;
}

.custom__text {
  width: 100%;
  position: relative;
  text-align: center;
  color: #ffffff;
}
.custom__text.room__number {
  font-size: 4em;
  font-family: "Lato-Light";
  line-height: 1em;
  position: absolute;
  top: 33%;
}
.custom__text.room__status {
  font-size: 12em;
  line-height: 1.1em;
  position: absolute;
  top: 42%;
}
.custom__text.room__upcoming {
  font-size: 3em;
  line-height: 1.1em;
  text-align: left;
  padding: 20px 0 15px;
  border-bottom: 1px solid #cecece;
  color: #0065b9;
}
.custom__text.room__upcoming--title {
  font-size: 2.2em;
  text-align: left;
  font-weight: bold;
  color: #d8163b;
}
.custom__text.room__inuse {
  font-size: 10em;
  font-family: "Lato-Bold";
  line-height: 1em;
  text-align: left;
  padding-left: 16%;
}
.custom__text.inuse__header--title {
  font-size: 3.5em;
  font-family: "Lato-Light";
  line-height: 1em;
  text-align: left;
}
.custom__text.inuse__header--time {
  font-size: 2.8em;
  font-family: "Lato-Light";
  line-height: 1em;
  text-align: left;
  padding-left: 35%;
}

/* ==================== */
/* Side Bar 			*/
/* ==================== */
.sidebar__upcoming {
  background: white;
  position: relative;
  height: 900px;
}

.sidebar__upcoming--list ul li {
  float: left;
  width: 100%;
  padding: 10px 0;
  font-family: "Lato-Light";
  border-bottom: 1px solid #cecece;
}

.time__reserve {
  font-size: 1.7em;
  color: #989898;
}

.group__inuse {
  padding-top: 25px;
}

.group__inuse--host .h6 {
  color: #ffffff;
  font-size: 1.8em;
}
.group__inuse--host > p {
  margin: 0;
  padding: 0;
}
.group__inuse--host > p.hostname__eng {
  color: #ffffff;
  font-size: 2.9em;
  font-family: "Lato-Bold";
}
.group__inuse--host > p.hostname__thai {
  color: #ffffff;
  font-size: 2.4em;
  font-family: "Lato-Light";
}

.group__inuse--contact .h6 {
  color: #ffffff;
  font-size: 1.8em;
}
.group__inuse--contact > p {
  margin: 0;
  padding: 0;
}
.group__inuse--contact > p.contact__phone {
  color: #ffffff;
  font-size: 2.2em;
  font-family: "Lato-Light";
}

.room__label,
.room__number--inuse {
  float: left;
  width: 100%;
  color: #ffffff;
}

.room__label {
  color: #ffffff;
  padding: 20px 0 0 70px;
  font-size: 2em;
  line-height: 1em;
}

.room__number--inuse {
  padding-left: 160px;
  font-size: 7em;
  line-height: 1em;
}

/* ==================== */
/* Footer Bar 			*/
/* ==================== */
.footer__bar {
  position: fixed;
  z-index: 1;
  bottom: 0;
  width: 100%;
  height: 90px;
  padding: 10px 30px;
  background: white;
}
.footer__bar ul li {
  float: left;
}
.footer__bar ul li.scg__logo {
  width: 14.5%;
  padding-right: 7%;
}
.footer__bar ul li.server__time {
  width: 25%;
  padding-top: 5px;
  color: #d8163b;
}
.footer__bar ul li.server__time .time {
  font-size: 3.3em;
  font-family: "Lato-Light";
  color: #0065b9;
}
.footer__bar ul li.server__date {
  width: 27%;
  padding-top: 5px;
  color: #d8163b;
}
.footer__bar ul li.server__date .date {
  font-size: 3.3em;
  font-family: "Lato-Light";
  color: #0065b9;
}

.room__status--inuse {
  position: absolute;
  bottom: 90px;
  margin-left: -15px;
  height: 150px;
  background: #d8163b;
}

.room__status--room {
  background: url("../image/bg-room.png");
  width: 400px;
  height: 150px;
  position: absolute;
  right: 0;
  bottom: 0px;
}

.room__status--onoff {
  width: 25%;
  right: 0;
  bottom: 0px;
  height: 90px;
  position: absolute;
  background: #0065b9;
}

/* ==================== */
/* Upcoming Popup		*/
/* ==================== */
.overlay__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  background: rgba(0, 51, 113, 0.85);
}
.overlay__bg.overlay__bg--none {
  display: none;
}
.overlay__bg.overlay__bg--upcoming {
  display: block;
}

.upcome__box {
  padding: 30px;
  height: 658px;
  margin-top: 95px;
  border: 1px solid #29a0ec;
  background: #ffffff;
  background: url("../image/bg-inuse.png");
  background-size: cover;
  border-radius: 15px;
  -o-border-radius: 15px;
  -ms-border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  box-shadow: 0 0 15px #002c69;
  -o-box-shadow: 0 0 15px #002c69;
  -ms-box-shadow: 0 0 15px #002c69;
  -moz-box-shadow: 0 0 15px #002c69;
  -webkit-box-shadow: 0 0 15px #002c69;
}

.upcome__meeting {
  padding: 60px 0 40px 0;
}
.upcome__meeting .upcome__meeting--header {
  width: 100%;
  text-align: center;
}

.upcome__meeting--title {
  padding: 40px 30px;
  margin: 0 -31px;
  text-align: center;
  background-color: #d8163b;
}

.upcome__meeting--time {
  text-align: center;
  padding: 40px 30px;
}
