body{
	width: 100%;
	font-size: 2em !important;
}

#top_bar {
	width: 100%;
	height: 5%;
	font-size: 120%;
	background: rgba(255,255,255,1); 
	color: rgba(52,55,59,1);	
	text-align: center;
}

#top_bar_time {
	float:left;
	width: 50%;
	
}
#top_bar_date {
	float:left;
	width: 50%;
	
	
}

#header {
	width: 100%;
	height: 5%;
	font-size: 80%;
	text-align: center;
	
	
}
#header_room,#header_event {
	color: rgba(255,255,255,1);  /* Set font Room Number Color*/
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #292c31),
		color-stop(1, #474a4d)
	);
	background-image: -o-linear-gradient(bottom, #292c31 0%, #474a4d 100%);
	background-image: -moz-linear-gradient(bottom, #292c31 0%, #474a4d 100%);
	background-image: -webkit-linear-gradient(bottom, #292c31 0%, #474a4d 100%);
	background-image: -ms-linear-gradient(bottom, #292c31 0%, #474a4d 100%);
	background-image: linear-gradient(to bottom, #292c31 0%, #474a4d 100%); /* Set background Room Number Color*/
}
#header_room {
	float:left;
	width: 20%;
	border-top: 2px solid  rgba(255,255,255,1); 
	border-left: 2px solid  rgba(255,255,255,1); 
	border-right: 2px solid  rgba(255,255,255,1); 
	border-bottom: 2px solid  rgba(255,255,255,1); 
}
#header_event {
	float:left;
	width: 80%;
	border-top: 2px solid  rgba(255,255,255,1); 
	border-right: 2px solid  rgba(255,255,255,1); 
	border-bottom: 2px solid  rgba(255,255,255,1); 
	
}

#content{
	height: 10%;
}
.room_name {
	float:left;
	width: 20%;
	font-size: 75%;
	text-align: center;
	background: rgba(237,28,36,1);
	min-height:20% !important; /* browser fill */
    height:auto;                /*content fill */
}
.room_detail {
	float:left;
	width: 80%;
	font-size: 75%;
	text-align: center;
	background: rgba(237,28,36,1);
}
.room_detail_time{
	float:left;
	width: 40%;
	font-size: 50%;
}
.room_detail_topic{
	float:left;
	width: 60%;
	font-size: 50%;
}