body, .display-timer, .display-date {
	transition:all .4s linear; 
    -o-transition:all .4s linear; 
    -moz-transition:all .4s linear; 
    -webkit-transition:all .4s linear;
    text-align: center;
    background: rgba(255,255,255,1);
	line-height: 1em;    
	 overflow:hidden;
	 width: 100%;
}
/*
===================================================
	MEDIA QUERY
===================================================
*/
@media only screen and (min-width: 0px) and (max-width: 319px) { /* 320px */
	body {
		font-size: 1.2em !important;
		line-height: 1em !important;
	}
	.topic-meet {
		min-height: 100px !important;
		font-size: 70% !important;
	}		
	.room-list-status {
		width: 75% !important; /* old 75% */
	}	
	.title {
		padding: 40% 0 0 !important;
	}	
	.room-aval {
		/*min-height: 70px !important;	*/
	}
	.room-inuse, 
	.room-upcome {
		padding-top: 21px !important;
		min-height: 60px !important;
		border-right: 2px solid rgba(255,255,255,1) !important;
		border-bottom: none !important;
	}	
}

@media only screen and (min-width: 320px) and (max-width: 768px) { /* 768px */
	body {
		font-size: 1.8em !important;
	}
	.topic-meet {
		min-height: 52px !important;
		font-size: 65% !important;
	}		
	.room-list-status {
		width: 75% !important; 
	}	
	.room-aval {
		min-height: 52px !important;
	}
	.live-tile {
		min-height: 52px !important;
	}	
	.room-inuse, 
	.room-upcome {
		padding-top: 12px !important;
		min-height: 52px !important;
	}	
		
}


@media only screen and (min-width: 768px) and (max-width: 960px) { /* 960px */
	 body {
		font-size: 2em !important;
	}	
	.topic-meet {
		font-size: 62% !important;
		
	}	
	.room-inuse, 
	.room-upcome {
		padding-top: 13px !important;
		border-right: 2px solid rgba(255,255,255,1) !important;
		border-bottom: none !important;
	}	
	.room-aval {
		padding-top: 25px !important;
		/*min-height: 90px !important;*/
	}
	.live-tile {
		/*min-height: 90px !important;*/
	}	
}

@media only screen and (min-width: 960px]) { /* > 960px */
	body {
		font-size: 2em !important;
	}
	.room-list-status {
		width: 83.33% !important; /* width: 75% !important; */
	}
	.room-inuse, 
	.room-upcome {
		padding-top: 1.7% !important;
		border-right: 2px solid rgba(255,255,255,1) !important;
		border-bottom: none !important;
	}
	.room-aval {
		padding-top: 30px !important;
		min-height: 110px !important;
	}
	.live-tile {
		min-height: 110px !important;
	}	
}

@media only screen and (min-width: 62.01em) { /* > 961px */
	body {
		font-size: 2em !important;
	}
	.room-list-status {
		width: 83.33% !important; /* width: 83.33% !important; */
	}
	.room-inuse, 
	.room-upcome {
		padding-top: 1.7% !important;	
		border-right: 2px solid rgba(255,255,255,1) !important;
		border-bottom: none !important;
	}
	.room-aval {
		padding-top: 30px !important;
		min-height: 110px !important;
	}
	.live-tile {
		min-height: 110px !important;
	}	
}

/*
===================================================
	STANDRAD THEME
===================================================
*/
/* BG SetUp Theme */
.row-full {
	float: left;
	width: 100%;
}
.bg-timer {

	color: rgba(52,55,59,1);	 /* Set font Time Color */
	background: rgba(255,255,255,1);  /* Set background Time Color */
}
.bg-date, 
.bg-timer {
	font-size: 145%;
	line-height: 1.4em;	
	/* font-size: 100px;
    font-size: 6vw;
    line-height: 1.4em;*/
}
.bg-date {
	color: rgba(52,55,59,1);  /* Set font Date Color */
	background: rgba(255,255,255,1);  /* Set background Date Color */
}
.bg-title {
	color: rgba(34,43,56,1);  /* Set font Title Color */
	background: rgba(206,217,231,1);  /* Set background Title Color */	
}
.bg-room, 
.room-no, 
.room-time,
.room-status {
	color: rgba(34,43,56,1);  /* Set font Room Number Color*/
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #292c31),
		color-stop(1, #474a4d)
	);
	background-image: -o-linear-gradient(bottom, #292c31 0%, #474a4d 100%);
	background-image: -moz-linear-gradient(bottom, #292c31 0%, #474a4d 100%);
	background-image: -webkit-linear-gradient(bottom, #292c31 0%, #474a4d 100%);
	background-image: -ms-linear-gradient(bottom, #292c31 0%, #474a4d 100%);
	background-image: linear-gradient(to bottom, #292c31 0%, #474a4d 100%); /* Set background Room Number Color*/
	
}
.room-inuse {
	color: rgba(255,255,255,1);  /* Set font Room Number Color*/
	/*background: rgba(12,165,66,1);*/ /* Set background Room Number Color*/	
	background: rgba(176,0,0,1);
}
.room-upcome {
	color: rgba(255,255,255,1);  /* Set font Title Color */
	/*background: rgba(176,176,176,1);*/  /* Set background Flip Color */
	background: rgba(12,165,66,1);	
}
.room-timer-upcome {
	color: rgba(255,255,255,1);  /* Set font Title Color */
	background: rgba(56,59,62,1);  /* Set background Flip Color */	
}
.room-aval {
	padding-top: 12px;
	min-height: 100px;
	color: rgba(255,255,255,1);  /* Set background Room Color*/
	background: rgba(176,176,176,1);  /* Set background Room Color*/
}
.room-timer {
	color: rgba(255,255,255,1);  /* Set font Room Number Color*/
	background: rgba(237,28,36,1); /* Set background Room Timer Color*/	
}
.room-title {
	color: rgba(255,255,255,1);  /* Set font topic Color*/
	font-size: 80%;
	padding: 10px 0;
}
.title {
	color: rgba(255,255,255,1);
	font-size: 100%;
	position: relative;
	overflow: hidden;
	/*padding: 5% 0 0;*/
	line-height: 104px;
} 
.room-time {
	border-left: none;
}
.room-status {
	border-left: 2px solid rgba(255,255,255,1);
}
.room-list {
	padding: 0;
	margin: 0;
	list-style: none;
}
.room-list li {
	width: 100%;
	float: left;
	margin-bottom: 2px; 
}

.topic-meet {
	font-size: 75%;
	text-align: left;
	color: rgba(56,59,62,1);  
	background: rgba(234,234,234,1);  
}

.room-inuse, 
.room-upcome {
	/*min-height: 110px;*/
	border-bottom: 2px solid rgba(255,255,255,1);
}
.topic-meet {
	padding: 7px;
}
.room-list-status {
	float: left;
	width: 83.33%; /* old 75% */
	border-left: 2px solid rgba(255,255,255,1);	
}

.live-tile, .list-tile, .copy-tile, .tile-strip .flip-list > li {
  /* height: 150px; */
  /* margin: 5px; */
  outline: 1px solid transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px;
  width: 150px;
}



